/* Font-Awesome Icon colors */
.red {
    color: #D2204C
}
.orange {
    color: #EF7116
}
.yellow {
    color: #DEBC12
}
.green {
    color: #67BA3D
}
.teal {
    color: #017A58
}
.blue {
    color: #1887F0
}
.purple {
    color: #A033FF
}
.pink {
    color: #EF4ACE 
}
.grey {
    color: #717175
}
.black {
    color: #000000
}
.white {
    color: #FFFFFF
}