/* Font-Awesome Icon colors */

.red {
    color: #fc0303
}
.dark-red {
    color: #780000
}
.dark-orange {
    color: #af5f02
}
.orange {
    color: #ff7308
}
.yellow {
    color: #ffd608
}
.dark-yellow {
    color: #7a7120
}
.green {
    color: #36e809
}
.dark-green {
    color: #286119
}
.teal {
    color: #09e893
}
.dark-teal {
    color: #026b43
}
.light-blue {
    color: #07e8e1
}
.blue {
    color: #0752e8
}
.dark-blue {
    color: #0b077d
}
.violet {
    color: #cf0ba5
}
.purple {
    color: #8800e3
}
.pink {
    color: #f79eff
}
.dark-pink {
    color: #e3009b
}
.grey {
    color: #717175
}
.dark-grey {
    color: #444445
}
.black {
    color: #000000
}
.white {
    color: #FFFFFF
}