sudo: required
dist: trusty

language: c

matrix:
  include:
    - name: "macOS"
      os: osx
    - name: "Windows 64"
      os: windows
    - name: "Windows 32"
      os: windows
      script: npm run dist32
    - name: "Linux"
      os: linux
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang   

node_js:
  - 10

cache:
  directories:
    - node_modules   

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - icnsutils
      - graphicsmagick
      - libgnome-keyring-dev
      - xz-utils
      - xorriso
      - xvfb

install:
  - nvm install 10
  - npm install electron-builder
  - npm install
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start &
  - sleep 3   

script:
  - npm run dist
